
@{
    ViewBag.Title = "PersonalInformation";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

<h2>Información Personal</h2>

<table class="table table-borderless" style="margin-top:30px">
    <tr>
        <td id="UserImage"></td>
    </tr>
    <tr>
        <td><a class="btn btn-primary btn-sm" href="#">Cambiar Imagen Perfil</a></td>
        @*<td><button class="btn btn-primary btn-sm">Cambiar Imagen Perfil</button></td>*@
    </tr>
</table>

<div style="margin-top:30px">
    <table width="100%">
        <tr>
            <td width="40%">
                <span><strong>Nombres: </strong></span>
            </td>
            <td width="60%">
                <label id="FirstName"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Apellidos: </strong></span>
            </td>
            <td width="60%">
                <label id="LastName"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Tipo Documento: </strong></span>
            </td>
            <td width="60%">
                <label id="DocumentType"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Número Identificación: </strong></span>
            </td>
            <td width="60%">
                <label id="IdentificationNumber"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Email: </strong></span>
            </td>
            <td width="60%">
                <label id="Email"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Teléfono: </strong></span>
            </td>
            <td width="60%">
                <label id="Phone"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Teléfono Adicional: </strong></span>
            </td>
            <td width="60%">
                <label id="PhoneAdditional"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Fecha Nacimiento: </strong></span>
            </td>
            <td width="60%">
                <label id="IdentificationNumber"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Nacionalidad: </strong></span>                
            </td>
            <td width="60%">
                <label id="Nationality"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Dirección Residencia: </strong></span>
            </td>
            <td width="60%">                
                <label id="ResidenceAdress"></label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Ciudad: </strong></span>
            </td>
            <td width="60%">
                <label id="City"></label>
            </td>
        </tr>
    </table>
</div>
<div style="margin-top:30px">
    <a class="btn btn-primary btn-sm" href="#">Actualizar Datos</a>
</div>
<script>
    $(document).ready(function () {
        SearchInformationUser();
    });
</script>