
@{
    ViewBag.Title = "PersonalInformation";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}
<div style="background-color: white; width: 100%; padding: 20px; border-radius: 15px; box-shadow: 10px 5px 5px black">
     <h2><i> Información Personal</i></h2>
    <div style="float:left ; width:60%; margin-top:50px">
        <div style="margin-left:auto; margin-right:auto; width:100%; text-align:center">
            <span style="font-size:35px; color:cornflowerblue"><strong id="FirstName"></strong></span>
            <br />
            <span style="font-size:25px; color:cornflowerblue"><strong id="LastName"></strong></span>
        </div>
    </div>
    <div style="float: right; width: 40%; text-align:center ">
        <table class="table table-borderless" style="margin-top:30px">
            <tr>
                <td id="UserImage"></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary btn-sm" href="#">Cambiar Imagen</a></td>
            </tr>
        </table>
    </div>


    <div style="margin-top:30px;padding:30px; font-size:14px">
        <div style="margin-left:auto; margin-right:auto">
            <table width="100%">             
                <tr>
                    <td width="40%">
                        <span><strong>Tipo Documento: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="DocumentType"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Número Identificación: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="IdentificationNumber"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Email: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="Email"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Teléfono: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="Phone"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Teléfono Adicional: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="PhoneAdditional"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Fecha Nacimiento: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="IdentificationNumber"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Ciudad Nacimiento: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="BirthCity"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Nacionalidad: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="Nationality"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Estado Civil: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="CivilStatus"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Dirección Residencia: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="ResidenceAdress"></label>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <span><strong>Ciudad: </strong></span>
                    </td>
                    <td width="60%">
                        <label id="City"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="margin-top:30px">
        <a class="btn btn-primary btn-sm" href="/UserInformation/PersonalInformation_Edit">Actualizar Datos</a>
    </div>
</div>


<script>
    $(document).ready(function () {
        SearchInformationUser();
    });
</script>