
@{
    ViewBag.Title = "PersonalInformation";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}

<h2>Información Personal</h2>

<div style="margin-top:30px">
    <img src="~/Resources/ImagesUsers/Usuario.png" style="height:150px;border-radius:50%"/>
</div>

<div style="margin-top:30px">
    <table width="100%">
        <tr>
            <td width="40%">
                <span><strong>Nombres: </strong></span>
            </td>
            <td width="60%">
                <label id="FirstName">Oscar Antonio</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Apellidos: </strong></span>
            </td>
            <td width="60%">
                <label id="LastName">Castillo Perez</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Tipo Documento: </strong></span>
            </td>
            <td width="60%">
                <label id="DocumentType">Cedula de Ciudadania</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Número Identificación: </strong></span>
            </td>
            <td width="60%">
                <label id="IdentificationNumber">3167508</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Email: </strong></span>
            </td>
            <td width="60%">
                <label id="Email">oscaracastillop@gmail.com</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Teléfono: </strong></span>
            </td>
            <td width="60%">
                <label id="Phone">3156345538</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Teléfono Adicional: </strong></span>
            </td>
            <td width="60%">
                <label id="PhoneAdditional">3156345539</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Fecha Nacimiento: </strong></span>
            </td>
            <td width="60%">
                <label id="IdentificationNumber">16/11/1982</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Nacionalidad: </strong></span>                
            </td>
            <td width="60%">
                <label id="Nationality">Colombia</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Dirección Residencia: </strong></span>
            </td>
            <td width="60%">                
                <label id="ResidenceAdress">Calle 20 # 2b_16 Barrio las Quintas</label>
            </td>
        </tr>
        <tr>
            <td width="40%">
                <span><strong>Ciudad: </strong></span>
            </td>
            <td width="60%">
                <label id="City">Facatativa, Cundinamarca</label>
            </td>
        </tr>
    </table>
</div>
<div style="margin-top:30px">
    <a href="#">Actualizar Datos</a>
</div>
