
@{
    ViewBag.Title = "Home";
}

<h2>Panel de Usuario</h2>

Bienvenido <Label style="font-weight:bold" id="NameUser"></Label>

<div style="text-align:center">
    <table class="table table-borderless">
        <tr>
            <td>
                <a class="btn btn-outline-success" href="#">Hoja de Vida</a>
            </td>
            <td>
                <a class="btn btn-outline-success" href="#">Ofertas Laborales</a>
            </td>
        </tr>
    </table>
</div>