
@{
    ViewBag.Title = "Home";
}

<div style="background-image: url(../../Resources/ImagesApp/Background.jpg); background-size:cover; width:100%;height:100px">
</div>


@*<div>
    <a class="navbar-brand" href="/" style="font-family:Castellar; font-size:55px; font-weight:bolder; color:black; margin-top:-50px">
        L A B
        <img src="../../Resources/ImagesApp/Logo.png" style="height:55px" />
        R A
    </a>
</div>*@

