
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ScriptsApp/DocumentType.js"></script>
<script src="~/ScriptsApp/Register.js"></script>

<div style="width:100%">
    <div style="float:left;width:40%; margin-top:20px;">
        <div style="background-color: #EBF5FB; width: 90%; padding: 20px; border-radius: 15px; margin-left: auto; margin-right: auto ">
            <h5>Crea tu cuenta en LABORA</h5>
            <label style="text-align:justify;">
                Bienvenido, completa los siguientes datos para realizar el registro.
            </label>
        </div>
    </div>
    
    <div style="background-color: #EBF5FB; border-radius: 15px; padding: 20px; margin-top: 20px; width: 60%; float: right ">

        <table class="table table-borderless">
            <tr>
                <td>
                    <span>Correo Electronico</span>
                    <input style="min-width:100%" class="form-control" type="email" name="name" id="Email" value="" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Contraseña</span>
                    <input style="min-width:100%" class="form-control" type="password" name="name" id="Password" value="" maxlength="16" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Confirmar Contraseña</span>
                    <input style="min-width:100%" class="form-control" type="password" name="name" id="ConfirmPassword" value="" maxlength="16" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Tipo Documento</span>
                    <select class="form-control" id="SelectDocumentType" style="min-width:100%"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Número Identificación (*)</span>
                    <input style="min-width:100%" class="form-control" type="text" name="name" id="IdentificationNumber" value="" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-success btn-sm" onclick="Register()">Registrarse</button>
                </td>
            </tr>
        </table>
        <label style="color:red">* Verifique su número de idenficación antes de realizar el registro, no prodra modificarlo despues.</label>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    $(document).ready(function () {
        ListDocumentType();
    });
</script>